.header {
    background-color: #fff;
    width: 100%;
    height: var(--header-height);
    display: flex;
    justify-content: end;
    align-items: center;
    padding: 0 20px;
}

.rightBox {
    justify-self: end;
}